<% _.each(choices, function(choice) { %>
    <div class="choice<% if (!choice['text']){ %> no-text<% } %><% if (choice['book_cover']) { %> has-book-cover<% } %>">
        <div class="radio">
            <label>
                <% if (choice['youtube_id']) { %>
                <div class="media-wrapper">
                    <div class="video-wrapper">
                        <iframe width="100%" height="100%" src="//youtube.com/embed/<%= choice['youtube_id'] %>?autohide=1" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <% } %>

                <% if (choice['photo']) { %>
                <div class="media-wrapper">
                    <img class="img-responsive" src="<%= APP_CONFIG.S3_BASE_URL %>/assets/img/<%= choice['photo'] %>">
                </div>
                <% } %>
                <input class="choice-radio" type="radio" name="<%= questionKey %>" value="<%=choice['category'] %>">
                <span class="label-text"><% if (choice['book_cover']) { %><img class="book-cover" src="<%= APP_CONFIG.S3_BASE_URL %>/assets/img/<%= choice['book_cover'] %>"><% } %><%= choice['text'] %></span>
            </label>
        </div>
    </div>
<% }); %>