<% _.each(choices, function(choice) { %>
    <div class="answer">
    	<% if (choice['youtube_id']) { %>
        <div class="media-wrapper">
        	<div class="video-wrapper">
        	    <iframe width="100%" height="100%" src="//youtube.com/embed/<%= choice['youtube_id'] %>?autohide=1" frameborder="0" allowfullscreen></iframe>
        	</div>
        </div>
    	<% } %>

    	<% if (choice['photo']) { %>
        <div class="media-wrapper">
        	<img class="img-responsive" src="<%= APP_CONFIG.S3_BASE_URL %>/assets/img/<%= choice['photo'] %>">
        </div>
    	<% } %>
        <div class="radio">
            <label>
                <input class="answer" type="radio" name="<%= questionKey %>" value="<%=choice['category'] %>">
                <span class="label-text"><%= choice['text'] %></span>
            </label>
        </div>
    </div>
<% }); %>