<% _.each(choices, function(choice) { %>
    <div class="answer">
        <div class="radio">
            <% if (choice[3]) { %>
            <div class="video-wrapper">
                <iframe width="100%" height="100%" src="//youtube.com/embed/<%= choice[3] %>" frameborder="0" allowfullscreen></iframe>
            </div>
            <% } %>

            <% if (choice[2]) { %>
            <img class="img-responsive" src="<%= APP_CONFIG.S3_BASE_URL %>/assets/img/<%= choice[2] %>">
            <% } %>
            <label>
                <input class="answer" type="radio" name="<%= questionKey %>" value="<%=choice[0] %>"> <%= choice[1] %>
            </label>
        </div>
    </div>
<% }); %>