<h4>Don&rsquo;t like these options? Take the quiz again or check out the full list below:</h4>


<% _.each(games, function(category){ %>
	<% if (category[0]['primary'] !== 'everything') { %>
	<div class="category <%= category[0]['primary'].replace('_', '-') %>">
		<h2><%= category[0]['primaryLabel'] %></h2>
		<ul>
		<% _.each(category, function(game){ %>
			<li>
				<h4><%= game['game'] %></h4>
				<% if (game['primary'] !== game['secondary']){ %><p><%= game['secondaryLabel'] %></p><% } %>
			</li>
		<% }); %>
		</ul>
	</div>
	<% }; %>
<% }); %>

<% if (games['everything'] !== undefined) { %>
<div class="category everything">
	<h2><%= games['everything'][0]['primaryLabel'] %></h2>
	<ul>
		<li>
			<h4><%= games['everything'][0]['game'] %></h4>
		</li>
	</ul>
</div>
<% }; %>

