{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="quiz">
        <div class="questions">
            {% for question in COPY.questions %}
            <div id="{{ question.key }}" class="question form-group">
                <h3><span class="count">{{ loop.index }}</span> {{ question.value|smarty }}</h3>
                <div class="answers"></div>
            </div>
            {% endfor %}

            <div class="results">

                <div class="top-games"></div>

                <button class="btn btn-primary btn-lg reset-quiz">Play again</button>

                <div class="all-games"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
