{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="quiz">
        <div class="questions">
            {% for question in COPY.questions %}
            <div class="question form-group">
                <h2>{{ question.value }}</h2>
                <div class="answers list-unstyled">
                {% for answer in COPY[question.key] %}
                    <div class="radio">
                        {% if answer.video %}
                        <div class="video-wrapper">
                            <iframe width="100%" height="100%" src="{{ answer.video }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                        {% endif %}

                        {% if answer.photo %}
                        <img class="img-responsive" src="{{ S3_BASE_URL }}/assets/img/{{ answer.photo }}">
                        {% endif %}
                        <label>
                            <input class="answer" type="radio" name="{{question.key}}" value="{{answer.category}}"> {{answer.text}}
                        </label>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endfor %}
            <div class="submit">
                <button class="btn btn-primary submit-quiz">What game should I play?</button>
            </div>
            <div class="results">
                <p><em>You should play...</em></p>
                <div class="first-choice">
                </div>

                <p><em>Or maybe try...</em></p>
                <div class="second-choice">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block wide_content %}
{% endblock %}

{% include '_share_modal.html' %}
