<div id="quiz"></div>
<script type="text/javascript" src="{{ S3_BASE_URL }}/js/lib/pym.js"></script>
<script type="text/javascript" src="{{ S3_BASE_URL }}/js/lib/jquery.velocity.min.js"></script>
<script>
	var onScrollMessage = function(offset){
		$('html, body').velocity('scroll', {
			offset: parseInt(offset) + $('#quiz').offset().top - 30,
			duration: 750
		});
	}

    var pymParent = new pym.Parent('quiz', '{{ S3_BASE_URL }}/', {});
    pymParent.onMessage('scrollTo', onScrollMessage);
</script>
